/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after {
	content: '';
	content: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background-color: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
}

body {
	background-color: #f4f4f4;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 16px;
	line-height: 1.5;
}

.page__title {
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	margin-bottom: 80px;
}

.navigation li+li {
	margin-left: 20px;
}

.navigation li a {
	text-decoration: none;
	font-size: 17px;
	line-height: 17px;
	display: block;
	color: #000;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.imageContainer {
	position: relative;
	width: 15%;
	display: inline-block;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.imageContainer:hover .image {
	opacity: 0.3;
}

.imageContainer:hover .middle {
	opacity: 1;
}


/* dropzone in upload photo for user  */

.dropzone {
	position: relative;
	width: 330px;
	margin: auto;
	height: 330px;
	border: 4px dashed #ddd;
	background: #f6f6f6;
	margin-top: 85px;
}

.dropzone .dz-preview {
	height: 250px;
	width: 250px;
}

.dropzone .dz-preview .dz-image img {
	width: 250px;
	height: 250px;
}

.dropzone .dz-preview .dz-image {
	width: 250px;
	height: 250px;
}


/** Preview of collections of uploaded documents **/


/*media queries*/

@media only screen and (max-width: 601px) {
	.fileuploader {
		width: 100%;
	}
	.preview-container {
		width: 100%;
	}
}

#main-menu li {
	border-right: 1px solid #ffffff;
}

#main-menu li:last-child {
	border-right: none
}

#login {
	padding-top: 50px
}

#login .form-wrap {
	width: 50%;
	margin: 0 auto;
}

#login h1 {
	color: #1fa67b;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}

#login .form-group {
	margin-bottom: 25px;
}

#login .checkbox {
	margin-bottom: 20px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#login .checkbox.show:before {
	content: '\e013';
	color: #1fa67b;
	font-size: 17px;
	margin: 1px 0 0 3px;
	position: absolute;
	pointer-events: none;
	font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
	vertical-align: middle;
	display: inline-block;
}

#login .checkbox .label {
	color: #6d6d6d;
	font-size: 13px;
	font-weight: normal;
}

#login .btn.btn-custom {
	font-size: 14px;
	margin-bottom: 20px;
}

#login .forget {
	font-size: 13px;
	text-align: center;
	display: block;
}

.body {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

#capatcha {
	margin: 0 auto;
	display: block;
	width: 30%;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

/* .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
} */

.valid {
	background-color: #89de89;
}

.alert {
	display: none;
}

.error {
	color: #c00;
}

.container {
	margin-top: 20px;
}

.panel-heading {
	font-size: larger;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}


/* Style the active/current link */

.pagination a.active {
	background-color: dodgerblue;
	color: white;
}


/* .sidebar{
	  position: relative;
	  top: 150px;
  } */

container-fluid:after {
	content: '';
	display: block;
	clear: both;
}

.product_view .modal-dialog {
	max-width: 800px;
	width: 100%;
}

.pre-cost {
	text-decoration: line-through;
	color: #a5a5a5;
}

.space-ten {
	padding: 10px 0;
}


/* Add a grey background color on mouse-over */

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}

#boxes .window {
	position: absolute;
	left: 0;
	top: 0;
	width: 440px;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
}

#boxes #dialog {
	width: 450px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 15pt;
}

.maintext {
	text-align: center;
	font-family: "Segoe UI", sans-serif;
	text-decoration: none;
}

#lorem {
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
	text-align: left;
}

#popupfoot {
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
	padding: 10px 20px;
}

#popupfoot a {
	text-decoration: none;
}

.agree:hover {
	background-color: #D1D1D1;
}

.popupoption:hover {
	background-color: #D1D1D1;
	color: green;
}

.popupoption2:hover {
	color: red;
}

hgroup {
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

h1 {
	color: #333;
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .75);
}

h2 {
	color: #777;
	font-family: serif;
	font-style: italic;
	line-height: 24px;
	margin-bottom: 24px;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .75);
}

table {
	background: #f6f6f6;
	font-size: 14px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, .05), 0 0 200px hsla(0, 0%, 100%, .5);
	-moz-box-shadow: 0 0 10px hsla(0, 0%, 0%, .05), 0 0 200px hsla(0, 0%, 100%, .5);
	box-shadow: 0 0 10px hsla(0, 0%, 0%, .05), 0 0 200px hsla(0, 0%, 100%, .5);
}

thead {
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0)), to(hsla(0, 0%, 0%, .1)));
	background-image: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .1));
	background-image: -moz-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .1));
	background-image: -ms-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .1));
	background-image: -o-linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .1));
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .75);
}

thead td {
	border: none;
	color: #444;
}

.posts,
.snaps,
.acorns,
.ranking {
	text-align: center;
}

.name {
	width: 30px;
}

.posts {
	width: 50px;
}

.snaps {
	width: 50px;
}

.acorns {
	width: 50px;
}

.ranking {
	width: 100px;
}

tr:nth-child(2n) {
	background: #eee;
}

td {
	border: 1px solid #ccc;
	color: #777;
	padding: 15px 10px;
}

.admin {
	color: #c4453c;
}

.supporter {
	color: #207cca;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.dropzone {
	width: 350px;
	margin: auto;
}

.imageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px auto 0 auto;
}

.list_actions {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list_actions li + li {
	margin-left: 10px;
}

.address_overview {
	margin-bottom: 20px;
}

.page_actions {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page_actions--spacing {
	margin: 30px 0;
}

.inner_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30% 0;
	max-width: 600px;
    margin: 0 auto;
}

.inner_wrapper form {
	background-color: #cacaca;
	border-radius: 8px;
    padding: 40px 60px;
    width: 100%;
}

.inner_wrapper form label {
	display: inline-block;
	margin: 5px 0 2px 0;
}

.field {
	width: 100%;
	border: 1px solid #ccc;
	height: 30px;
	padding: 0 10px;
}


.fields_notification {
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
	color: #c00;
	font-size: 20px;
	line-height: 20px;
}

.side_bar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 50px 0;
}

.side_bar ul li + li {
	margin-left: 40px;
}

.side_bar ul li a {
	display: block;
	font-size: 16px;
	line-height: 16px;
	color: #000;
}

.inner_wrapper--sm {
	padding: 5% 0;
}

.field__errors__normal {
	color: #c00;
	text-align: center;
}

.table-responsive {
	display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}